* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ____________________header style____________________ */
.header {
  border: 1px solid black;
  width: auto;
  height: 30px;
  background-image: linear-gradient(to right, red, green, yellow);

  text-decoration: underline;
}
h1 {
  font-size: 22px;
  text-align: center;
}
/* -----------------------------navigation----------------------- */
.nav {
  border: 3px solid red;

  border-radius: 10px;
  margin: auto;
  background-color: aqua;
  margin-top: 10px;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.list-content {
  padding: 5px;
}

/* ----------------------------grid-1---------------------------------- */

.grid-content {
  border: 2px solid red;
  border-radius: 10px;
  width: auto;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px, 150px;

  padding: 10px;
  background-color: aquamarine;
}
.box {
  border: 2px solid green;
  background-color: aqua;
  border-radius: 10px;
  text-align: center;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.box3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.box4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* ----------------------------container2---------------------- */

.container-2 {
  margin-top: 10px;
  width: auto;
  height: 30px;
  border: 0px solid black;
  background-image: linear-gradient(to right, red, yellow, red);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

/* ----------------------------------grid-2------------------------------ */

.grid-2-content {
  border: 2px solid green;
  margin-top: 10px;
  background-image: radial-gradient(blue, green);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 250px;
  grid-template-rows: 150px 150px;
  gap: 50px;
}

.grid-2-box {
  border: 2px solid red;
  background-color: rgba(255, 255, 0, 0.694);
  border-radius: 10px;
  color: rgb(82, 6, 6);
  font-weight: 600;
  height: 150px;
  text-align: center;
  text-decoration: underline;
  transform: translateY(50%);
  padding-top: 10px;
}
.grid-2-box4{
    margin-right: 100px;
}


/* -----------------------------------------------container-3------------------------------- */

.container-3 {
  margin-top: 30px;
}
.container-3-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 90px;
  grid-template-rows: 50px 75px 100px 30px;
  gap: 20px;
  color: white;
  text-align: center;
  font-weight: 700;
  /* background-color: black; */
  text-align: center;
 
}

.container-3-content-1 {
  background-color: red;
  grid-column: 1/5;
  grid-row: 1/2;
}
.container-3-content-2 {
  background-color: green;
  grid-column: 1/2;
  grid-row: 2/3;
}
.container-3-content-3 {
  background-color: blue;
  grid-column: 2/3;
  grid-row: 2/3;
}
.container-3-content-4 {
  background-color: purple;
  grid-column: 3/4;
  grid-row: 2/3;
}
.container-3-conten-5 {
  background-color: black;
  grid-column: 4/5;
  grid-row: 2/4;
  text-decoration: underline;
  text-align: start;
  padding-left: 20px;
}

.container-3-content-6 {
  background-color: orangered;
  grid-column: 1/4;
  grid-row: 3/4;
}
.container-3-content-7 {
  background-color: aqua;
  grid-column: 1/5;
  grid-row: 4/5;
  color: black;
}
